.statsComponent {
  margin: 10px;
}

.titlesStats {
  color: #45b7ae;
}

// .titlesStats {
//   color: #37c957;
// }


.boxxed {
  width: 50px;
  border-radius: 5px 5px 0px 0px;

}

.boxxed2 {
  width: 50px;
  border-radius: 0px 0px 5px 5px;

}