
  <div class="statsComponent">
  
    <p style="color:white" *ngIf="lastDayTrained">{{messageForLastDayTrained}} </p>
  
    <p style="color:white" *ngIf="trainedToday">{{messageForLastDayTrained}} </p>
  
  <div>
  
    <h1 class="titlesStats"><i>Week stats</i></h1>

      <!-- Little calendar with days of the week trained -->
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" *ngFor="let weekit of week; let i = index;">
          <div class="boxxed text-center" [ngStyle]="{'background-color' : indexs.includes(i) ? '#3fa39b' : '#3c3c44'}">
            {{weekit}}
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between" *ngFor="let weeker of currentWeek; let i = index;">
          <div class="boxxed2 text-center" [ngStyle]="{'background-color' : indexs.includes(i) ? '#3fa39b' : '#3c3c44'}">
            {{weeker}}
          </div>
        </div>
      </div>
  
  
    </div>
      
    <br>
  
    <div class="weekStats">
    
    <div class="chart-wrapper" >
  
  
        <canvas baseChart class="chart"
              [type]="doughnutChartType"
              [datasets]="doughnutChartData" 
              [labels]="doughnutChartLabels"
              [options]="doughnutChartOptions"
              [plugins]="doughnutChartPlugins2"
             >
        </canvas>
    </div>
    
  </div>
  
  
    <br>
  
  
    <div class="monthStats">
  
        <h1 class="titlesStats"><i>Month stats</i></h1>
        <span>This month you have trained {{countOnMonth}} times</span>
        <br>
        <span>Last month you trained {{countOnLastMonth}} times</span>
        <br><br>
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
           [datasets]="lineChartDataForMonth" 
           [labels]="lineChartLabelsForMonth"
            [legend]="lineChartLegendForMonth" 
            [options]="barChartOptions">
          </canvas>
        </div>
        
  
    </div>
  
  
      
      <h1 class="titlesStats"><i>Year stats</i></h1>
      <span>This year you have trained {{countOnYear.length}} times</span>
      <br>
      <span>Last year you trained {{countOnLastYear.length}} times</span>
      <br><br>
      <div class="chart-wrapper">
        <canvas baseChart class="chart" 
        [datasets]="lineChartDataForYear" 
        [labels]="lineChartLabelsForYear"
        [legend]="lineChartLegendForYear" 
        [options]="barChartOptions">
        </canvas>
      </div>
  
  </div>

