.statsComponent {
  margin: 10px;
}

.titlesStats {
  color: #45b7ae;
}


.boxxed {
  width: 50px;
  border-radius: 5px 5px 5px 5px;

}

.boxxed2 {
  width: 50px;
  border-radius: 5px 5px 5px 5px;

}

span{
  color: white;
}

