<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <ion-title>
        Entrenapp
      </ion-title>
      <ion-button class="logoutButton" (click)="logout()">
        <span style="color:white">
          LOGOUT
        </span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button class="button-ready" expand="full" (click)="firstButtonForTrained()">ADD TRAINING</ion-button>

  <ion-card color="light" *ngFor="let data of dataFinal | slice:0:7">
    <ion-card-header>
      <div>
        <ion-card-title>{{data.dayOfWeekTrained}}. {{data.dayTrained}}</ion-card-title>
        <ion-card-subtitle class="musclesWorkedBlocked">{{data.musclesTrained.join(', ')}}</ion-card-subtitle>
        <p class="intenseBlock">{{data.Intensity}}</p>
      </div>
    </ion-card-header>

    <div class="button justify-content-center">
      <ion-button class="update" expand="block" (click)="click(data)">edit</ion-button>
      <ion-button class="delete" expand="block" (click)="delete(data.id)">delete</ion-button>
    </div>
  </ion-card>

  <ion-button *ngIf="loadMore == false" class="loadMoreTrainingsButton" (click)="loadMoreTrainings()">Load more</ion-button>
  <div *ngIf="loadMore == true">
    <ion-card color="light" *ngFor="let data of dataFinal | slice:7:14">
      <ion-card-header>
        <div>
          <ion-card-title>{{data.dayOfWeekTrained}}. {{data.dayTrained}}</ion-card-title>
          <ion-card-subtitle class="musclesWorkedBlocked">{{data.musclesTrained.join(', ')}}</ion-card-subtitle>
          <p class="intenseBlock">{{data.Intensity}}</p>
        </div>
      </ion-card-header>
  
      <div class="button justify-content-center">
        <ion-button class="update" expand="block" (click)="click(data)">edit</ion-button>
        <ion-button class="delete" expand="block" (click)="delete(data.id)">delete</ion-button>
      </div>
    </ion-card>
    <ion-button *ngIf="loadMore == true" class="loadMoreTrainingsButton" (click)="loadAllTrainings()">Load all</ion-button>

  </div>
  <br>

  <div>
    <app-stats></app-stats>
  </div>
</ion-content>